ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(117, 2, 117);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0%;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

li{
    float: left;
    position: sticky;
}

li a {
    display: block;
    color: rgb(253, 253, 253);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bolder;
    font-size: larger;
}

li:hover {
    background-color: hwb(288 6% 61%);
    position: relative;

}


.active{
    background-color: rgb(182, 75, 214);
    border-style: inset;
    padding: 12px 14px;   
}

*{
    font-family: circe,sans-serif;
}